<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.byu.edu">
                        Intex2
                    </a>
                </li>
                <li>
                    <a href="">
                        Section 2 group 16(build about page)
                    </a>
                </li>
                <li>
                    <a href="">
                        Not sure yet
                    </a>
                </li>
                <li>
                    <a href="">
                        Baller Angular and Django rest API

                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="" target="_blank">JD, Grant, and Zach</a> for a better Intex.
        </div>
    </div>
</footer>
